{{ted-page-header
  subheading='Ember'
  slim-heading='TED'
  strong-heading='shed'
  byline='shed.css and TED themed functional CSS for your Ember app'
  github='http://github.com/tedconf/ember-ted-shed'}}
<br>
<div class="container">
  <h2 id="installation">Installation</h2>
  <p><br></p>
  <h4 id="shed-css">shed.css</h4>
  <pre><code>ember install ember-ted-shed</code></pre>

  <p>You're ready to go with shed.css! Check out the <a href="http://tedconf.github.io/shed-css/">docs</a> docs for usage. </p>
  <p><br></p>
  <h4 id="ted-theme">TED theme</h4>
  <pre><code>ember install ember-cli-sass</code></pre>

  <pre><code>// app.scss

@import "ember-ted-shed/colors";
@import "ember-ted-shed/borders";</code></pre>

  <p><br></p>
  <hr>

  <h2 id="usage">Usage</h2>
  <p>There are two ways to use ember-ted-shed:</p>

  <ol>
    <li>use ember-ted-shed based UI components </li>
    <li>use ember-ted-shed to write your own <a href="#2-custom-styles-with-ember-ted-shed">custom styles</a></li>
  </ol>

  <h3 id="1-ember-ted-shed-ui-library">1. ember-ted-shed UI library</h3>

  {{example-ted-table}}

  {{example-ted-button}}

  <h3 id="2-custom-styles-with-ember-ted-shed">2. custom styles with ember-ted-shed</h3>

  <p>Full usage guidelines for shed.css can be found on the <a href="http://tedconf.github.io/shed-css/">docs site</a>.</p>
  <p>Note that shed.css does not include any color or border based rules. Use the TED shed theme color and border classes here.
  <br>
  <br></p>

  <h4 id="ted-shed-colors-classes">TED shed colors classes</h4>
  <div class="w:1of2">
    <table class="table">
      <thead>
        <tr>
          <th>usage</th>
          <th>example class</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>color</td>
          <td><code>c:red</code></td>
        </tr>
        <tr>
          <td>
            background-color
          </td>
          <td><code>bg:red</code></td>
        </tr>
        <tr>
          <td>hover color</td>
          <td><code>hover/c:red</code></td>
        </tr>
        <tr>
          <td>hover background-color</td>
          <td><code>hover/bg:red</code></td>
        </tr>
      </tbody>
    </table>
  </div>

  <p>You can use any of the following named colors (in place of <code>red</code> in the example above):</p>

  {{ted-color-swatch}}

  <h4 id="ted-shed-border-classes">TED shed border classes</h4>
  <div class="w:1of2">
    <table class="table">
      <thead>
        <tr>
          <th>usage</th>
          <th>example class</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>border (1px solid currentColor)</td>
          <td><code>b</code></td>
        </tr>
        <tr>
          <td>
            border-top
          </td>
          <td><code>b-t</code></td>
        </tr>
        <tr>
          <td>
            border-bottom
          </td>
          <td><code>b-b</code></td>
        </tr>
        <tr>
          <td>border-left</td>
          <td><code>b-l</code></td>
        </tr>
        <tr>
          <td>border-right</td>
          <td><code>b-r</code></td>
        </tr>
        <tr>
          <td>border (transparent)</td>
          <td><code>b:t</code></td>
        </tr>
        <tr>
          <td>border (named color)</td>
          <td><code>b:red</code></td>
        </tr>
        <tr>
          <td>border-top (named color)</td>
          <td><code>b-t:red</code></td>
        </tr>
        <tr>
          <td>alternate border-width (2px) <sup>*</sup></td>
          <td><code>b-w:2</code></td>
        </tr>
        <tr>
          <td>focus border (named color)</td>
          <td><code>focus/b:gray</code></td>
        </tr>
      </tbody>
    </table>
  </div>

  {{ted-border-swatch}}

  <p class="m-t:1 f:.9 m-b:6"><strong>*</strong> border widths act as modifier classes and must be used in conjunction with another border class.</p>

  <h4>Color &amp; border utility classes</h4>

  <div class="w:1of2">
    <table class="table">
      <thead>
        <tr>
          <th>usage</th>
          <th>example class</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>background: none</td>
          <td><code>.bg:none</code></td>
        </tr>
        <tr>
          <td>border: none</td>
          <td><code>.b:none</code></td>
        </tr>
        <tr>
          <td>outline: none</td>
          <td><code>.ol:none</code></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
